#header li
{
	display: inline;
	position: relative;
	left: 1200px;
	margin-right: 5px;
	float: top;            /*doesnt work , why ?!!*/
}

#logo
{
	position: relative;
	top: 150px;
	left: 550px;
}

#s_b
{
	position: absolute;
	margin-bottom: px;    /*doesnt work , why ?!!*/
}

#search_form
{
	position: relative;
	left: 600px;
	top: 170px;
}

#footer
{
	width: 1350px;
	height: 35px;
	background-color: #D7F2FD;
	position: relative;
	float: bottom;               /*doesnt work , why ?!!*/
	clear-moz-appearance: both; /*doesnt work , why ?!!*/
	top: 380px;
}

#footer li
{
	display: inline;
	margin-right: 5px;
	margin-top: 0;       /*doesnt work , why ?!!*/
	margin-bottom: 3px; /*doesnt work , why ?!!*/
}
#fleft
{
	float: left;
}
#fright
{
	float: right;
}