#header li
{
	display: inline;
	position: relative;
	left: 1200px;
	margin-right: 5px;
}

#logo
{
	position: relative;
	top: 150px;
	left: 550px;
}

#s_b
{
	position: absolute;
	margin-bottom: px;
}

#search_form
{
	position: relative;
	left: 600px;
	top: 170px;
}